*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    color: #757575;
  }
  
  #fondo{
  background: url(../Imagenes/ballena1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  }

  .contenedorTitu{
    background: rgba(251, 251, 251, 0.3);
    color: #FFF;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    position: relative;
    top:50px;
    width: 100%;
  }
  
  #titulo{
    color: white;
    display: flex;
    width: 100%;
  }
  
  #titulo h1{
      float: left;
  }
  
  .menu2{
      float: right;
      margin-top: 10px;
  }
  
  .menu2 a{
     position: relative;
      color: white;
      text-decoration: none;
      right: 10px;
  }
  
  
  .menu2 a:hover{
      background: rgba(14, 203, 213, 0.411);
  }
  
  .contenedorNav{
      width: 100%;
      margin:auto;
      font-family: 'Shadows Into Light', cursive;
      font-family: 'Roboto Condensed', sans-serif;
  }
  
  
  #Cabeza{
      color: white;
      display: flex;
      position: fixed;
      z-index:1;
      width: 100%;
      height: auto;
      background: rgba(149, 164, 165, 0.5);
      padding: 5px;
  }
  
  #Cabeza h1{
      float: left;
  }
  
  .menu{
      float: right;
      margin-top: 10px;
      display: block;
  }
  
  .menu li{
  list-style: none;
  float: left;
  margin: 5px;
  }
  
  .menu li ul{
    display: none;
    position: absolute;
  }
  
  .menu li:hover ul{
    display: block;
  }
  
  .menu li ul li{
    position: relative;
  }
  
  .menu li ul li ul{
    height: -145;
    top:0px;
    padding: 10px;
  }
  
  .menu a{
      color: white;
      text-decoration: none;
      padding: 5px 20px;
  
  }
  
  .menu a:hover{
      background: rgb(251, 251, 251,0.5);
  }
  
  .contenedorNav{
      width: 100%;
      margin:auto;
      font-family: 'Shadows Into Light', cursive;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px;
  }
  
  #Principal{
     color: #FFF;
      position: relative;
      top:55%;
      padding: 10px;
  }

  .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  #Contenido{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;
  }

  
  .contenedorPrin{
     font-weight: 600;
     font-size: 20px;
  }
  
  .contenedorPrin a{
    color: #FFF;
    text-decoration: none;
    width: 10%;
    padding: 5px 10px;
  }
  #info{
    padding: 0 0 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;

  }
  h3{
    font-size: 36px;
    text-align: center;
    color: lightslategray;
    margin: 30px;
  }

  h4{
    font-size:30px;
    text-align: center;
    color: lightslategray;
    margin: 30px;
  }
  img{
    margin: 20px;
  }

  footer{
    padding: 30px;
  }
  